body {
    font-family: arial;
    font-size: 12pt;
    color: #a9684ad2;
    margin: 0;
}


table {
    padding-left: 10px;
    border-collapse: collapse;
}

.sCellDate {
    position: relative;
    width: 58px;
    height: 50px;
    padding-right: 5px;
    border: solid 1px black;
    text-align: right;
}

.sCellEnteteColonne {
    width: 58px;
    padding-right: 5px;
    border: solid 1px black;
    color: Black;
    font-weight: bold;
    background-color: #CCCCCC;
    font-size: 60%;
}

.sCellJourCourant {
    background-color: #D0D0D0;
    color: Red;
    font-weight: bold;
}

.sCellJourDepart {
    background-color: #FF9D3D;
    color: white;
    font-weight: bold;
}

.sCellInterval {
    background-color: rgb(220, 220, 220);
}

.sCellBouton {
    width: 130px;
    text-align: center;
}

.sTexteCentre {
    text-align: center;
}

.sTexteGras {
    font-weight: bold;
}

.sTableauCentre {
    margin-left: auto;
    margin-right: auto;
}

.sLargeurDiv {
    width: 100%
}

.sEntete {
    background-color: #FCE7C8;
    margin-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding: 10px
}

.sCorps {
    padding: 30px 10px;
}

.sPiedDePage {
    clear: both;
    background-color: #FCE7C8;
    font-size: 90%;
    margin-top: 5px;
    border-top-width: 2px;
    border-top-style: solid;
    padding: 5px 10px;
}

.sTitreApp {
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

.sTitreSection {
    font-size: 120%;
    font-weight: bold;
}

.sAuteurApp {
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
}

.sDateSelectionnee {
    font-size: 100%;
    font-weight: bold;
    background-color: Blue;
    color: White;
}

.sPetiteDate {
    font-size: 60%;
    color: grey;
    position: absolute;
    top: 0px;
    left: 5px;
}


select,
option {
    color: Black;
    font-weight: bold;
}

input[type="button"] {
    font-variant: small-caps;
    font-weight: bold;
}

a {
    font-size: 90%;
}

a:link {
    color: Black;
    text-decoration: none;
}

a:visited {
    color: rgb(192, 149, 149);
    text-decoration: none;
}

a:hover {
    color: Blue;
    text-decoration: underline;
}

a:link img,
a:visited img {
    border: none;
}

a:hover img {
    border-style: double;
    border-width: 2px;
    border-color: Black;
}


/* Ajouter les nouveaux sélécteur de style ci-dessous */

.sErreur {
    background-color: rgb(235, 69, 69);
}

.sTexteErreur {
    color: rgb(235, 69, 69);
    font-weight: bold;
}